.home{
  background-image: url("img/menu-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.categories{
  margin: 40px;
}

.button{
  margin: 40px;
}

.text{
  position: relative;
  top: 40%;
}