.home{
  background-color: #f7f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.rowList{
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}